@import "tailwindcss";

@theme {
  --font-sans: "Raleway", "M PLUS 1p", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    font-family: "Raleway", "M PLUS 1p", sans-serif;
  }
}
