---
import 'swiper/css/bundle'
import articleListSrc from '../scripts/articleList.ts?url'
---
<div class="relative" id="article-list-root">
  <div class="swiper swiper-container">
    <div class="swiper-wrapper" id="articles-wrapper">
      <!-- slides will be injected -->
    </div>
    <div class="swiper-button-next border-2 border-slate-400 hover:shadow-md hover:border-slate-500"></div>
    <div class="swiper-button-prev border-2 border-slate-400 hover:shadow-md hover:border-slate-500"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script type="module" src={articleListSrc}></script>
